body {
    width: 100%;
    background: #000000;
}

div#main {
    width: 1024px;
    margin: auto;
    background:#FFFFFF;
    color:#000000;

    border-radius: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 24px;
    font-family: 'Lobster', cursive;
}

h1#title {
    font-size: 64px;
}
