$def with (document)

<link rel="stylesheet" href="/static/css/list.css" type="text/css" />

    <h1 id="title">$document['name']</h1>
    <div id="sidebar">
        <ul id="collaborators">
            $for user in document['users']:
                <li>
                    <div class="color-box" style="background-color:
                        $user['color']
                    ;"></div> - $user['email']
                </li>
        </ul>
    </div>
    <table id="list">
        <tr>
            <th></th>
            <th>Item</th>
        </tr>
        $for item in document['items']:
            <tr>
                <td class="checklist">
                    $for i in item['checked']:
                        $for user in document['users']:
                            $if i['id'] == user['id']:
                                <div class="color-box" style="background-color: $user['color'];"></div>
                </td>
                <td class="item"><a href="Check?id=$document['id']&item=$int(float(item['id']))&user=1">$item['name']</a></td>
            </tr>

    </table>
